.cita {
    background-color: rgba(245, 235, 245, 0.5);
    padding: 2em;

    .container {
        position: relative;
        overflow: hidden;

        .mark {
            position: absolute;
            top: -0.2em;
            left: 0;

            font-size: 18em;
            line-height: 1;
            color: var(--faded-theme);
            opacity: .16;

            pointer-events: none;
            user-select: none;
            z-index: 0;

            will-change: transform;
        }

        .content {
            flex-grow: 1;
            z-index: 1;
            margin-left: 5.5em;
            margin-right: 3em;

            text-shadow: 0 0 4px rgba(0, 0, 0, 0.06);
            will-change: transform;

            blockquote {
                margin: 2.5em 0 1.6em;
            }

            hr {
                width: 2em;
                margin: 1.3em 0;
                border: 1px solid var(--faded-text);
                border-radius: 1px;
            }

            .name {
                color: var(--theme);
            }
        }
    }
}
