.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    padding-left: 3rem;
    background-color: rgb(255, 235, 255);
    color: var(--faded-text);

    position: sticky;
    top: 0px;
    left: 0px;

    .logo {
        font-size: 2rem;
        line-height: 1;
    }

    .container {
        display: flex;
        gap: 2rem;
        align-items: center;

        a {
            text-decoration: none;
            text-transform: uppercase;
            color: inherit;
        }

        .button {
            padding: .5rem 1.2rem;
            font-size: .9em;
            margin-top: 2px;
        }
    }
}