$BUTTON-COLOR: rgb(255, 185, 255);
$SHADOW-COLOR: rgb(223, 159, 223);

.boton {
    padding: .8rem 2rem;
    border-radius: .6rem;
    box-sizing: border-box;
    cursor: pointer;
    color: var(--text);
    text-decoration: none;
    margin-top: 2px;

    box-shadow: 0 2px 0 $SHADOW-COLOR, inset 0 0 $SHADOW-COLOR;
    transform: translateY(-2px);
    transition: box-shadow 200ms ease, transform 200ms ease;
    will-change: box-shadow, transform;

    &.main {
        background: $BUTTON-COLOR;
        border: none;
    }

    &.ghost {
        background: none;
        border: 1px solid $BUTTON-COLOR;
    }

    &:hover {
        transform: translateY(-4px);
        box-shadow: 0 4px 0 $SHADOW-COLOR, inset 0 0 $SHADOW-COLOR;
    }

    &:active {
        transform: translateY(0);
        box-shadow: 0 0 0 $SHADOW-COLOR, inset 0 2px 4px $SHADOW-COLOR;
    }
}
