.boton {
    padding: .8rem 2rem;
    border-radius: .6rem;
    box-sizing: border-box;
    cursor: pointer;
    color: var(--text);
    text-decoration: none;

    &.main {
        background: hsla(300, 90%, 85%, 100%);
        border: none;
    }

    &.ghost {
        background: none;
        border: 1px solid hsla(300, 90%, 85%, 100%);
    }
}
