.interaccion {
    width: 100%;

    .panel {
        border: 1px solid #ddd;
        border-radius: .8rem;
        aspect-ratio: 16/9;
        width: 60vw;
        height: auto;
        background-color: #fff;
        margin: auto;
        overflow: clip;
        display: flex;
        flex-direction: column;

        .tabBar {
            background-color: rgb(247, 218, 247);
            display: flex;
            gap: .5em;
            padding: .5em;
            font-size: .8em;
            box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
            z-index: 99;

            .tab {
                background-color: rgb(250, 230, 250);
                border: 1px solid rgb(230, 215, 230);
                padding: .2em .8em;
                text-transform: uppercase;
                border-radius: .5em;
                cursor: pointer;
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.06);
                will-change: opacity;
                transition: opacity .15s ease;

                &:not(.active) {
                    opacity: .4;
                }
            }
        }

        .contentContainer {
            display: flex;
            flex-grow: 1;

            .mainContent {
                width: 50%;
                flex: 1 1;
                box-sizing: border-box;
            }

            &:has(.bottomBar) {
                flex-direction: column;
            }

            .sideBar {
                background-color: rgb(250, 240, 250);
                width: 30%;
                box-sizing: border-box;
            }

            .bottomBar {
                background-color: rgb(250, 240, 250);
                height: 20%;
                box-sizing: border-box;
            }

            .note {
                color: var(--faded-text);
            }
        }
    }
}
