:root {
    --text: hsla(300, 13%, 15%, 90%);
    --faded-text: hsla(300, 13%, 15%, 70%);
    --bg: rgb(255, 245, 255);

    --serif: 'Playfair Display', serif;
    --numbers: 'Libre Bodoni', 'Playfair Display', sans-serif;

    font: 18px / 145% var(--serif);
    letter-spacing: 0.18px;
    color-scheme: light;
    color: var(--text);
    background: var(--bg);
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    @media (max-width: 1024px) {
        font-size: 16px;
    }
}

body {
    margin: 0;
}

.logo {
    color: rgb(149, 80, 149);
    font-family: 'Monsieur La Doulaise', var(--serif), serif;
    text-transform: capitalize;
    user-select: none;
    -webkit-user-select: none;
    line-height: normal;
}

* {
    corner-shape: superellipse(1.6);
}
