.entretenimiento {
    overflow: hidden;

    .videoContainer {
        margin: auto;

        .video {
            text-align: center;
            margin-top: 3rem;
            height: auto;
            aspect-ratio: 2/1;
            border: none;
            border-radius: .8rem;
            width: 100%;
        }
    }
}