.footer {
    color: var(--faded-text);
    background: linear-gradient(rgb(255, 235, 255), rgb(255, 220, 255));

    .main {
        height: min-content;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: stretch;
        padding: 1rem 2rem;

        .logo {
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            flex-shrink: 0;
            padding-left: 1rem;
            font-size: 2rem;
        }

        .links {
            display: flex;
            flex-direction: column;
            gap: 0.25rem;

            div {
                display: flex;
                flex-wrap: nowrap;
                justify-content: center;

                a {
                    text-decoration: none;
                    text-transform: uppercase;
                    color: inherit;

                    &:not(:last-child)::after {
                        content: "•";
                        margin: 0 0.5rem;
                    }
                }
            }
        }
    }

    .copyright {
        font-family: var(--numbers);
        border-top: 1px solid hsla(300, 13%, 9%, 20%);
        padding: 1rem 1.5rem;
        box-sizing: border-box;
        color: inherit;
    }
}